[Unit]
Description=Btsync Service
Requires=docker.service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -v btsync
ExecStart=/usr/bin/docker run -v /home/nowk/devs:/sync -v /var/lib/btsync/.sync:/opt/btsync/.sync -m 128M -p 8888:8888 -p 61134:61134 --name btsync btsync --webui.listen 0.0.0.0:8888 --nodaemon
ExecStop=/usr/bin/docker stop btsync

[Install]
WantedBy=multi-user.target
