[Unit]
Description=Btsync Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/nowk/devs/ops/docker-btsync

ExecStartPre=-/usr/local/bin/docker-compose kill
ExecStartPre=-/usr/local/bin/docker-compose rm -v -f btsync
ExecStart=/usr/local/bin/docker-compose up btsync
ExecStop=/usr/local/bin/docker-compose stop -t 1
Restart=on-failure

[Install]
WantedBy=multi-user.target

